$primary: #76b82a;
$info: #5c90b5;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-size: calc(0.8vw + 0.8vh + 0.4vmin);
}

.list-group-item-info.list-group-item-action.active {
    background-color: $primary;
    border-color: #afca0b;
}

.list-group-item-info.list-group-item-action.active:hover {
    background-color: #afca0b;
}